body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

/* css for dialog element */
.modal::backdrop{
    max-width: 200rem;
    background: rgb(0 0 0 / .7);
}

h3{
    font-size: 2.5rem;
    color: crimson; 
}

.playerAmtLbl{
    font-size: 1.6rem;
    font-weight: 700;
    padding-right: 1rem;
}

.howToPlay{
    font-size: 1.6rem;
    font-weight: 500;
}

select option{
    font-size: 1.6rem;
    font-weight: 500;
}


h4{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0;
}

.numButton{
    width: 10rem;
    height: 5rem;
    font-size: 2rem;
    font-weight: 700;
   
}

.flexCont{
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
}

/* Grid design of game interface */
.grid_container {
    width: 100vw;
    height: 100vh;
    border: 2px solid red;
    display: grid;
    grid-template-rows: 1fr 2fr 6fr 1fr;
    grid-template-columns: 1fr 5fr 1fr;
    
}

.grid_item1 {
    border: 2px solid black;
    grid-row: 1 / 2;
    grid-column: 1 / 4;
    background-color: darkgrey;
}

.grid_item2 {
    border: 2px solid black;
    grid-row: 2 / 4;
    grid-column: 1 / 2;
    background-color: darkgrey;
}

.grid_item3 {
    border: 2px solid rgb(6, 240, 108);
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: 2fr 2fr 1fr 1fr 2fr;
    grid-template-columns : 1fr;
    /* margin: 1rem; */
    
}

.bingoHead{
    border: 1px solid black;
}

.grid_item4ForTwo {
    /* border: 2px solid rgb(2, 55, 245); */
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 1fr 1fr 1fr 2fr 2fr;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    /* margin: 1rem; */
}

.grid_item4ForThree {
    /* border: 2px solid rgb(2, 55, 245); */
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 1fr 1fr 1fr 2fr 2fr;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
    /* margin: 1rem; */
}

.grid_item4ForFour {
    /* border: 2px solid rgb(2, 55, 245); */
    grid-row: 3 / 4;
    grid-column: 2 / 3;
    display: grid;
    justify-content: center;
    grid-template-rows: 1fr 1fr 1fr 1fr 2fr 2fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
    /* margin: 1rem; */
    }

.playerSet{
    border: 1px solid black;
}

.grid_item5 {
    border: 2px solid black;
    grid-row: 2 / 4;
    grid-column: 3 / 4;
    background-color: darkgrey;
}

.grid_item6{
    border: 2px solid black;
    grid-row: 4 / 5;
    grid-column: 1 / 4;
    background-color: darkgrey;
} 

#header{
    font-size: 4rem;
    padding-left: 1rem;
    color:red;
}

legend{
    font-size: 2rem;
    font-weight: 700;
}
.labelHolderForHeader{
    display: grid;
    align-items: center;
}

.statusLight{
    background-color: blue}

.labelHolderForNumberCalled{
    display: grid;
    justify-items: center;
    align-content: end;
    text-align: center;
}

.labelForNumberCalled{
    height: 2rem;
    width: 15rem;
    border: 1px solid red;
    padding-bottom: 1rem;
    font-size: 2rem;
    font-weight: 700;

}

.labels{
    font-size: 2rem;
    font-weight: 700;
    margin-left: 1rem;
}

.numberCalledHolder{
    display: grid;
    justify-content: center;
   /* height and width go on here for next time. */
}

.numberCalled{
    height: 8rem;
    width: 8rem;
    border: 1px solid black;
    font-size: 6rem;
    font-weight: 700;
    text-align: center;
    line-height: 8rem;
}

.playerLabel{
    width: 10rem;
    margin: auto;
    /* text-align: center; */
}

.statLabel{
    margin: auto;
}

.buttonHolders{
    display: flex;
    justify-content: center;
}

.buttons{
    align-self: center;
    height: 6rem;
    width: 20rem;
    font-weight: 700;
    font-size: 2rem;
    cursor:pointer;
}

.bingoCardHolder{
    border: 1px solid black;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.bingoCards{
    border: 1px solid black;
}

.fullNumSet{
    font-size: 2rem;
    font-weight: 700;
    margin: 1rem;
}

.gamesWonNumHolder{
    display: grid;
    justify-content: center;
}

.gamesWonTxt{
    align-self: center;
}